img{
    width: 400px;
}
p{

    color:rebeccapurple;
}
h1{
    text-align: center;
    color: purple;
}
img,h1,p{ 
    overflow: auto;
    text-align: justify;
}
body{
    background-color: cadetblue;
}
